<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<div class="container">
    <form action="/login" method="post" class="form">
        <label>
            First name:
            <input type="text" class="text" name="firstname">
        </label>
        <label>
            Last name:
            <input type="text" class="text" name="lastname">
        </label>
        <label>
            Email:
            <input type="email" class="text" name="email">
        </label>
        <label>
            Password:
            <input type="password" class="text" name="password">
        </label>
        <label>
            Age:
            <input type="text" class="text" name="age">
        </label>
        <label>
            City:
            <input type="text" name="city" class="text">
        </label>

        <input type="submit" class="submit">
    </form>
</div>
</body>
</html>